.buttonPrimary {
    -fx-background-color: linear-gradient(to right, #0077B6, #263238);
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-border-width: 0.2px;
    -fx-border-color: black;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0.5, 0, 1.9);
}
.buttonPrimary:hover {
    -fx-background-color: linear-gradient(to right, #00B4D8, #0077B6);
    -fx-text-fill: #263238;
}
.buttonPrimary:pressed {
    -fx-background-color: linear-gradient(to right, #263238, #0077B6);
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-translate-y: 2.8px;
    -fx-border-color: #004f80;
}

.buttonDashboard {
    -fx-padding: 10px 70px 10px 50px;
    -fx-background-color: linear-gradient(from 30% 0% to 100% 0%, rgba(0, 119, 182, 0.45), rgba(0, 119, 182, 0.25), rgba(255, 255, 255, 0.9));
    -fx-text-fill: #0077B6;
    -fx-border-radius: 0;
    -fx-cursor: hand;
    -fx-text-alignment: left;
    -fx-transition: -fx-background-color 0.3s, -fx-effect 0.3s;
}
.buttonDashboard:hover {
    -fx-background-color: linear-gradient(from 30% 0% to 100% 0%, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4)), linear-gradient(from 0% 10% to 100% 0%, #9dE0EF, #CAF0F8);
    -fx-background-insets: -1;
}

.buttonDashboard .icon {
    -fx-margin-right: 10px;
    -fx-font-size: 20px;
}

.hbox:hover {
    -fx-background-radius: 4px;
    -fx-background-color: rgb(233, 233, 233);
}

.selected {
    -fx-background-radius: 4px;
    -fx-background-color: rgb(233, 233, 233);
}

.loginPane {
    -fx-background-color: radial-gradient(center 50% 50%, radius 150%, #00B4D8 0%, #90E0EF 90%);
}

.loginPageBackgroundPane {
    -fx-border-color: #E7E6DD;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, #ffffff, 15, 0.1, 0, 0);
    -fx-background-radius: 10;
    -fx-border-radius: 20;
}

.lblUserName, .lblForgotPassword {
    -fx-font-family: 'Inter';
    -fx-font-size: 13px;
}

.lblUserName {
    -fx-text-fill: #000000;
}

.lblForgotPassword {
    -fx-text-fill: #0003FF;
    -fx-transition: 0.3s ease;
}
.lblForgotPassword:hover {
    -fx-effect: dropshadow(gaussian, #0003FF, 0.9, 0.1, 0, 0);
    -fx-cursor: hand;
}

.txtUserName {
    -fx-pref-width: 364;
    -fx-pref-height: 56;
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.txtDigitCode {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-alignment: center;
    -fx-font-size: 24px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}
.txtDigitCode:focused {
    -fx-border-width: 5px;
}

.dialog-pane .custom-alert {
    -fx-background-color: #0077B6FF;
    -fx-border-color: #c4c4c4;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 3);
}

.dialog-pane .header-panel .label {
    -fx-text-fill: #0077b6;
    -fx-font-size: 15px;
}

.dialog-pane .content.label {
    -fx-text-fill: #263238FF;
    -fx-font-size: 14px;
}

.dialog-pane .button-bar .button {
    -fx-background-color: #263238FF;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-padding: 5px 15px;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
}

.dialog-pane .button-bar .button:focused {
    -fx-border-color: #00b4d8;
    -fx-border-width: 1.5px;
    -fx-border-radius: 5px;
}

.loginImage {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0, 4);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 5px;
    -fx-background-color: white;
}

.date-picker {
    -fx-background-color: transparent;
    -fx-text-fill: #03045E;
    -fx-border-color: #03045E;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.date-picker .popup {
    -fx-background-color: transparent;
    -fx-border-color: #03045E;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

.date-picker .day-cell {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.date-picker .day-cell:selected {
    -fx-background-color: #03045E;
    -fx-text-fill: white;
}

.date-picker .current-day {
    -fx-background-color: #03045E;
    -fx-text-fill: white;
}

.date-picker .day-cell:empty {
    -fx-background-color: transparent;
    -fx-text-fill: rgba(0, 0, 0, 0.5);
}

.date-picker .label {
    -fx-background-color: transparent;
    -fx-text-fill: #03045E;
    -fx-font-size: 16px;
}

.date-picker .date-picker-year-arrow,
.date-picker .date-picker-month-arrow {
    -fx-background-color: transparent;
    -fx-text-fill: #03045E;
}

.date-picker .date-picker-year-arrow:hover,
.date-picker .date-picker-month-arrow:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #03045E;
}

.check-box {
    -fx-background-color: transparent;
    -fx-border-color: #03045E;
    -fx-border-width: 1px;
    -fx-padding: 10px;
    -fx-alignment: center-left;
    -fx-min-width: 35px;
    -fx-min-height: 35px;
}

.check-box .text {
    -fx-text-fill: #03045E;
    -fx-padding: 0 10px;
    -fx-transition: 0.3s ease-in-out;
}

.check-box:selected .check-mark {
    -fx-background-color: #03045E;
    -fx-shape: "M 0 4 L 2 6 L 6 0";
    -fx-background-radius: 50%;
}

.check-box:selected .text {
    -fx-translate-x: 15px;
    -fx-text-fill: #ffeb3b;
}

.check-box:hover {
    -fx-border-color: #ffeb3b;
}

.check-box .check-mark {
    -fx-background-color: transparent;
    -fx-border-color: #03045E;
    -fx-border-radius: 50%;
    -fx-width: 20px;
    -fx-height: 20px;
}


/* Make the entire TableView background transparent */
.table-view {
    -fx-background-color: transparent;
}

/* Make the column header background transparent */
.table-view .column-header-background {
    -fx-background-color: transparent;
}

/* Selection row color */
.table-view .table-row-cell:selected {
    -fx-background-color: #03045E; /* Solid selected row background color */
    -fx-opacity: 1; /* Ensure full opacity */
}

.table-view .table-row-cell:selected .table-cell {
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-width: 0px 1px 1px 0px;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
    /*-fx-font-weight: bold; !* Bold text *!*/
    -fx-opacity: 1; /* Ensure full opacity for text */
    -fx-alignment: center;
}



/* Table Cell alignment */
.table-view .column-header, .table-view .table-cell {
    -fx-border-color: #03045E; /* Border color */
    -fx-border-radius: 5px; /* Rounded borders */
    -fx-border-width: 0px 1px 1px 0px; /* Border width on each side */
    -fx-text-fill: #03045E; /* Text color */
    -fx-background-color: transparent; /* Cell background color */
    -fx-background-radius: 5px;
    -fx-alignment: CENTER_LEFT; /* Align text to center-left */
}

/* Hover effect on rows */
.table-view .table-row-cell:hover {
    /*-fx-background-color: transparent; !* Row hover color *!*/
    -fx-border-color: #03045E;
}


/* Row styling */
.table-view .table-row-cell {
    -fx-pref-height: 28px; /* Row height */
    -fx-pref-width: 28px; /* Row width */

}
.table-view .column-header {
    -fx-pref-height: 32px; /* Increase the column header width */
}

/* Make the ScrollPane background transparent */
.table-view .scroll-bar {
    -fx-background-color: transparent; /* Transparent background for scrollbars */
}

/* Transparent background for horizontal scrollbar */
.table-view .horizontal-bar {
    -fx-background-color: transparent;
}

/* Transparent background for vertical scrollbar */
.table-view .vertical-bar {
    -fx-background-color: transparent;
}

/* Transparent background for ComboBox items */
.combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: black; /* Default text color */
}

/* Style for the hovered ComboBox item */
.combo-box .list-cell:hover {
    -fx-background-color: #03045E; /* Hover background color */
    -fx-text-fill: white; /* Hover text color */
}

.lblClear {
    -fx-text-fill: black;
    -fx-transition: 0.3s ease;
}
.lblClear:hover {
    -fx-effect: dropshadow(gaussian, black, 0.9, 0.1, 0, 0);
    -fx-cursor: hand;
}
